.header__cta {
    width: 70%;
    border-radius: 5px;
    position: absolute;
    top: 90%;
    left: 15%;
    padding-left: 1rem;
}

.header__cta h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--btn-color);
}

.header__cta--bars__search {
    position: relative;
    flex: 1;
    display: flex;
}

.header__cta--bars__search input {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--btn-color);
    
}

.input-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 1rem 0 0;
}



@media screen and (max-width: 800px) {
    .header__cta {
        position: static;
        margin: 0 auto;
        width: 95%;
    }

    .header__cta--bars__search input{
        font-size: 13px; 
    }
   
    .logo {
        margin: 0.5rem 0.5rem 0 0;
    }
}




@media screen and (max-width: 450px) {
    .header__cta--bars{
        flex-direction: column;
    }

    .header__cta--bars__search{
        width: 100%;
        justify-content: flex-start;
    }
    .header__cta {
        padding-left: 0;
        margin-top: 1rem;
    }

    .header__cta--bars{
        row-gap: 0;
    }
}

@media screen and (max-width: 350px) {
    
}