.laMaison__header-container {
    margin: 0 4rem;
    padding-top: 1rem;
}

.laMaison__header-container__logosCon h4 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
}


.laMaison__header-container__links a,
.dropdown-link a {
    color: var(--btn-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}


.dropdown-link a:active,
.dropdown-link a:hover,
.laMaison__header-container__links a:hover,
.laMaison__header-container__links a:active {
    color: #000000b3;
    border-bottom: 4px solid var(--btn-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.laMaison__header-container__btn button {
    padding: 0.2rem 1rem;
    background: var(--main-bg-color);
    outline: none;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--btn-color);
    cursor: pointer;
}

.dropdown {
    display: none;
}

.laMaison__header--menu {
    display: none;
}



@media screen and (max-width: 800px) {
    .laMaison__header-container {
        margin: 0 4rem;
    }

    .laMaison__header-container__logosCon h4 {
        font-size: 24px;
    }


    .laMaison__header--menu {
        display: block;
    }

    .dropdown {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        top: 1rem;
    }

    .laMaison__header-container__links-container {
        display: none;
    }

    .laMaison__header-container__btn {
        display: none;
    }


    .dropdown-link {
        background: rgba(0, 0, 0, 1);
        color: white;
        padding: 1rem;
    }

    .dropdown-link a {
        color: var(--text-color);

    }

    .dropdown-link a:active ,
    .dropdown-link a:hover {
        color: white;
        border-bottom: 2px solid blue;
    }

}

@media screen and (max-width: 450px) {
    .laMaison__header-container__logosCon h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    .laMaison__header-container__logosCon h4{
        font-size: 15px;
    }
}