.btns{
    padding: 0.5rem 1.5rem;
    background: var(--btn-color);
    outline: none;
    border-radius: 3px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-color);
    cursor: pointer;
}

.btnsm:hover,
.btnsm:active,
.btns:hover, 
 .btns:active {
    background: rgba(0, 0, 0, 0.8);
    color: var(--text-color);
    cursor: pointer;
}

.btnsm{
    padding: 0.5rem 1.5rem;
    background: #E2F5FF;
    outline: none;
    border-radius: 3px;
    border: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #5A5AFD;
    cursor: pointer;
}

.radio{
    color: blue;
}

.icone{
    color: var(--text-color);
}



